﻿#play:hover{
    background-color: #000;
    border-radius: 50%;
}

@import url(http://fonts.googleapis.com/css?family=Roboto); /* FREE GOOGLE FONT */
fieldset {
  border:0;
  margin-bottom:20px;
}

input {
   display:block;
}
a, a:active, a:focus {
outline: none;
}
.summary th{
    padding:5px;
    width:200px;
}
.summary td{
    padding:5px;
    width:200px;
    font-size: 10px;
}
img.preview {
  width:300px;
  height:auto;
  clear:both;
  margin:10px 0;
}
img.preview1 {
  width:670px;
  height:auto;
  clear:both;
  margin:10px 0;
}

#text1{
    color:#8c8c8c;

}

#adminRight {
  position: absolute;
  right: 0;
  width: 680px;
  height: auto;
  background-color: #fff;
  padding: 10px;
}
#rowstyle{
    border-bottom: #7a7a7a solid 1px;
}
#billsummary{
    border: #990099 solid 2px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
} 
#headingbillsummary{
    padding: 7px;
    background: #990099;
    color:#fff;
}
#totalbillsummary{
    padding: 7px 30px;
    background: #00bcd4;
    color:#fff;
}

.video-playbutton-layer {
    background: transparent url(video-btn.png) no-repeat center center;
    cursor:pointer;
}
#movie-shows-t1 {
   padding-left: 300px;
   padding-top:150px;
   display:flex;  
  list-style:none;
    color:#8c8c8c;
}
#display_time{
    float: left;
}
.theatre-name {
    color:#8c8c8c;
}
#view-show-date{
    text-align:left; 
    padding:10px;
    color:#990099;
    font-weight: bold;

}
.show-dates{
    text-align:left; 
    padding:10px;

}
#button{
    display: inline-block;
    float: left;
    color:#337ab7;
    position: relative;
    margin: 0.5%;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
#theatre_names{
    float: left;
    display: inline-block;
    width: 20%;
    position: relative;
    margin: 0.5%;
    color:#8c8c8c;
    padding: 5px;
    cursor: default;
}
#nomoviemsg{
    width: 100%;
    height: 400px;
    color:#7F8182;
    font-size: 30px;
    align:center;
    text-align: center;
}
#button:hover{
    display: inline-block;
    position: relative;
    margin: 0.5%;
    background:#eee;
    color:#000;
    border-radius: 5px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}
#comming_soon{
    display: inline;
    border: 1px solid #fff;
    background: #DE6B0D;
    border-radius:3px;
    position: relative;
    margin: 0.5%;
    padding: 5px;
    cursor: pointer;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
#error_msg{
    padding: 5px;
    border-radius: 5px;
    padding: 15px;
    color:red;
    border: solid red 1px;
}
th,td{
    vertical-align: middle;
}
#selected{
    float: left;
    display: inline-block;
    position: relative;
    margin: 0.5%;
    background:#337ab7;
    color:#fff;
    border-radius: 5px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}
#selected_time{
    display: inline-block;
    position: relative;
    margin: 0.5%;
    background:#00c632;
    color:#fff;
    border-radius: 5px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}
.btn-show {
 
  background-color: #fff;
  border-color: #006600;
  border-radius: 10px;
}
.btn-show:hover,
.btn-show:focus,
.btn-show.focus,
.btn-show:active,
.btn-show.active,
.open > .dropdown-toggle.btn-show {
  color: #fff;
  background-color: #009933;
  border-color: #006600;
  border-radius: 10px;
}
.btn-show:active,
.btn-show.active,
.open > .dropdown-toggle.btn-show {
  color: #fff;
  background-color: #009933;
  border-color: #006600;
  border-radius: 10px;
}
.btn-show.disabled,
.btn-show[disabled],
fieldset[disabled] .btn-show,
.btn-show.disabled:hover,
.btn-show[disabled]:hover,
fieldset[disabled] .btn-show:hover,
.btn-show.disabled:focus,
.btn-show[disabled]:focus,
fieldset[disabled] .btn-show:focus,
.btn-show.disabled.focus,
.btn-show[disabled].focus,
fieldset[disabled] .btn-show.focus,
.btn-show.disabled:active,
.btn-show[disabled]:active,
fieldset[disabled] .btn-show:active,
.btn-show.disabled.active,
.btn-show[disabled].active,
fieldset[] .btn-show.active {
  background-color: #009900;
  border-color: #006600;
  border-radius: 10px;
}
.btn-show .badge {
  color: #009933;
  background-color: #fff;
  border-radius: 10px;
}





.buttonof{
    display: inline;
    border: 1px solid #fff;
    border-radius:3px;
    position: relative;
    margin: 0.5%;
    padding: 5px;
    cursor: pointer;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.buttonof:hover{
    display: inline;
    border: 1px solid #fff;
    border-radius:3px;
    position: relative;
    margin: 0.5%;
    background:#065207;
    padding: 5px;
    cursor: pointer;
}
.select{
    display: inline;
    border: 1px solid #fff;
    border-radius:3px;
    position: relative;
    margin: 0.5%;
    background:#065207;
    padding: 5px;
    cursor: pointer;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}



desc{
    font-size: 11px;
}
#movie-name
{
    text-align:left; 
    padding:10px;
    color:#990099;

}
.movei_description{
    padding-left: 10px;
    color:#7D7D7D;
}

#slider .video, .video-playbutton-layer 
{
    top:0; left:0; border:0;
    width: 100%;height: 100%;
    text-align: center;
    background: black;
    position: absolute;    
}
#r {
  
  background-color: #fff;
  text-align: center;
  overflow-y: scroll;
   padding-left: 350px;
       padding-top: 100px;
}

#l {
  position: fixed;
  top: 90px;
  left: 0;
  width: 350px;
  height: auto;
  background-color: #fff;
  padding: 10px;
}

.movie_image{

    margin: auto;
    padding: 10px;
    width:60%; 
    height:100%;
}




/* And if you have added the HTML: <div class="video-playbutton-layer"></div> */
.video-playbutton-layer {
    background: transparent url(video-btn.png) no-repeat center center;
    cursor:pointer;
}

#image-preview {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  color: #ecf0f1;
  input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
  }
  label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bdc3c7;
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
  }
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.content-wrapper {
    margin-top: 40px;
    min-height: 400px;
    padding-bottom: 28px;
}

.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #F0677C;
    text-transform: uppercase;
    color: #F0677C;
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.progress {
    height: 8px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.login-icon {
    height: 60px;
width: 60px;
padding: 13px;
border-radius: 50%;
font-size: 30px;
margin-bottom: 20px;
color: #fff;
text-align: center;
cursor:pointer;
background-color:#F0677C;
-webkit-border-radius:50%;
    -moz-border-radius:50%;
}
/* =============================================================
   HEADER SECTION STYLES
 ============================================================ */
header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: right;
     position: fixed;
    z-index: 10000;
    
    min-width: 115%;
    left: -20px;
}


/* =============================================================
   LOGO SECTION STYLES
 ============================================================ */
.left-div {
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.navbar-brand {
    width: 250px;
    padding-top: 30px;
}
.navbar-brand_movie {
    width: 100px;
    padding-top: 0px;
}

/* USER SETTINGS DIV */
.user-settings-wrapper .nav > li > a {
    position: relative;
    display: block;
    padding: 15px 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #F0677C;
    color: #fff;
}

.user-settings-wrapper {
    margin-top: 10px;
}

    .user-settings-wrapper li {
        display: inline-block;
    }

    .user-settings-wrapper .dropdown-settings {
        width: 200px;
        padding: 10px;
    }

    .user-settings-wrapper .nav > li > a:hover,.user-settings-wrapper .nav > li > a:focus {
        text-decoration: none;
        background-color: #C36464!important;
    }

    .user-settings-wrapper img {
        height: 64px;
        width: 64px;
        border: 1px solid #000000;
    }

    .user-settings-wrapper .dropdown-menu {
        margin: 0px;
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .btn {
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .media-heading {
        padding-top: 10px;
    }

/* MENU LINKS SECTION*/

.menu-section {
    background-color: #3D3D3D;
}

#menu-top a {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
}

.menu-top-active {
    background-color: #C36464;
   
}

.menu-section .nav > li > a:hover,.menu-section .nav > li > a:focus {
    background-color: #F0677C!important;
}

.menu-section .dropdown-menu > li > a:hover,.menu-section .dropdown-menu > li > a:focus {
    background-color: #F0677C!important;
}

.navbar-inverse {
   top: 10px;
    background-color: #333;
    border-color: transparent;
    min-width: 100%;
    
    
    
}
.navbar-inverse-payment {
   
    background-color: #000;
    border-color: transparent;
    z-index: 10000;
    min-width: 115%;
}

.navbar-toggle {
    background-color: #F0677C;
    border: 1px solid #fff;
}

.navbar {
    margin-bottom: 0px;
}
/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
footer {
  
    color: #fff;
    font-size: 20px;
    background-color: #2c3b36;
   
}
footerfixed {
    position:fixed;
    width:100%;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    background-color: #000;
    bottom:0px;
}

    footer a, footer a:hover {
        color: #fff;
        text-decoration: none;
    }

/*==============================================
    DASHBOARD  STYLES    
 =============================================*/

/* DASHBOARD ICONS */

.bk-clr-one {
    background-color: #B9B739;
}

.bk-clr-two {
    background-color: #F94C4C;
}

.bk-clr-three {
    background-color: #119c7e;
}

.bk-clr-four {
    background-color: #b739b9;
}

.dashboard-div-icon {
    height: 75px;
    width: 75px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.dashboard-div-wrapper {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 50px;
}

    .dashboard-div-wrapper .progress {
        height: 2px;
    }

/* NOTICE BOARD */


.notice-board .panel {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.notice-board ul {
    padding-left: 0px;
    list-style: none;
}

.notice-board li {
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
}

    .notice-board li span {
        margin-right: 10px;
        border: 1px solid #DBDBDB;
        padding: 5px;
    }

    .notice-board li a, li a:hover {
        text-decoration: none;
        color: #000;
    }

/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

    .btn-social:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}
